<footer class="text-center">
  <footer class="text-center bg-dark">
    <div class="container text-white py-4 py-lg-5">
      <p class="mb-0">Copyright © 2023 Alvin Alvarado</p>
      <sup class="fw-light">
        This is a free and open source software licensed under the <a class="fw-light" href="https://www.gnu.org/licenses/agpl-3.0.en.html" rel="license">GNU Afferro General Public License</a> with the source code being hosted in <a class="fw-light" href="https://github.com/striczkof/bruh-news">this repository</a>. You can redistribute it and/or modify it under the terms of the AGPLv3 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
      </sup>
    </div>
  </footer>
</footer>
