<nav class="d-flex d-xl-flex justify-content-center justify-content-xl-center">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" aria-label="Previous" href="#">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" aria-label="Previous" href="#">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
  </ul>
</nav>