<div class="col-md-4" id="main-sidebar">
  <div class="vstack">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Latest comments</h5>
      </div>
      <div class="card-body">
        <% if @sidebar_comments.present? %>
          <ul class="list-group">
            <li class="list-group-item">
              <figure>
                <blockquote class="blockquote">
                  <p class="mb-0">Let's give Ukraine Minuteman III ICBMs so this war ends now. Also I love F35chan</p>
                </blockquote>
                <figcaption class="blockquote-footer text-truncate">Planefucker on&nbsp;<a href="/articles/show"><span style="color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));">Ukraine receives the battleship USS Texas from the United States</span></a></figcaption>
              </figure>
            </li>
            <li class="list-group-item">
              <figure>
                <blockquote class="blockquote">
                  <p class="mb-0">SLAVA ROSSII Z</p>
                </blockquote>
                <figcaption class="blockquote-footer text-truncate">Vatnik on&nbsp;<a href="/articles/show">Another L for Russia:&nbsp;<span style="color: rgb(33, 37, 41);">Russia drops 300 VDV paratroopers to the Pacific, looking for Harold Holt</span></a></figcaption>
              </figure>
            </li>
            <li class="list-group-item">
              <figure>
                <blockquote class="blockquote">
                  <p class="text-truncate mb-0">I love trains</p>
                </blockquote>
                <figcaption class="blockquote-footer text-truncate">Conductor on&nbsp;<a href="/articles/show">Conductor found fornicating with locomotives</a></figcaption>
              </figure>
            </li>
          </ul>
        <% else %>
          <p>No comments to display, or not implemented even :(</p>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Latest articles in categories</h5>
      </div>
      <div class="card-body">
        <% if @sidebar_categories.present? %>
          <ul>
            <li>&nbsp;<a href="#"><span style="color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));">Ukraine receives the battleship USS Texas from the United States</span></a>&nbsp;in&nbsp;<a href="#">Conflicts</a></li>
            <li>&nbsp;<a href="#"><span style="color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));">Conductor found fornicating with locomotives</span></a>&nbsp;in&nbsp;<a href="#">Local</a></li>
            <li>&nbsp;<a href="#">'I have figured out the final solution' exclaims an Austrian painter</a>&nbsp;in&nbsp;<a href="#">Nature</a></li>
          </ul>
        <% else %>
          <p>No articles in categories to display, or not implemented even :(</p>
        <% end %>
      </div>
    </div>
  </div>
</div>